# Compilation output
*.o
*.d
*.a
*.ci
*.csv
*.t.c
*.b.c
*.a.c
*.gcno
*.gcda
*.perf

# Testing things
blocks/
lfs
test.c
tests/*.toml.*
scripts/__pycache__
.gdb_history
runners/test_runner
runners/bench_runner
